<nav class="sidebar">
  <div class="sidebar-header">
    <a href="#" class="sidebar-brand">Okto<span>Boot</span></a>
    <div class="sidebar-toggler not-active">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="sidebar-body">
    <ul class="nav">
      <li class="nav-item nav-category">Main</li>
      <li class="nav-item">
        <a href="/" class="nav-link">
          <i class="link-icon" data-feather="box"></i>
          <span class='link-title'>Dashboard</span>
        </a>
      </li>
      <li class="nav-item nav-category">Recon report</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#emails" role="button" aria-expanded="false" aria-controls="emails">
          <i class="link-icon" data-feather="pie-chart"></i>
          <span class="link-title">Recon</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="emails">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="/generalinfo" class="nav-link">General Information</a>
            </li>
            <li class="nav-item">
              <a href="/show_assets" class="nav-link">Assets</a>
            </li>
            <li class="nav-item">
              <a href="/files" class="nav-link">Exposed Files</a>
            </li>
            <li class="nav-item">
              <a href="/github_leaks" class="nav-link">Potential Github Leaks</a>
            </li>
            <li class="nav-item">
              <a href="/employees" class="nav-link">DB Leaks</a>
            </li>
            <li class="nav-item">
              <a href="/logstealer" class="nav-link">Logstealer Leaks</a>
            </li>
            <li class="nav-item">
              <a href="/combo" class="nav-link">Combo Leaks</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a href="/recon" class="nav-link">
          <i class="link-icon" data-feather="book"></i>
          <span class="link-title">Full Recon</span>
        </a>
      </li>
      <li class="nav-item nav-category">Config</li>
      <li class="nav-item">
        <a href="/plusdomain" class="nav-link">
          <i class="link-icon" data-feather="plus-circle"></i>
          <span class='link-title'>Add domain</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/plusemployee" class="nav-link">
          <i class="link-icon" data-feather="plus-circle"></i>
          <span class='link-title'>Add employee</span>
        </a>
      </li>
    </ul>
  </div>
</nav>