<div class="container">
    <div class="d-flex align-items-center justify-content-center">
        <div class="noble-ui-logo d-block mt-3"><h1>Okto<span>boot</span></h1></div>
    </div>
    <div class="my-3"></div> <!-- Insert blank line using margin class -->
    <div class="row">
        <div class="col-12 col-xl-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">This is The Home Page</h1>
                </div>
            </div>
        </div>
    </div>
</div>